body{
background-image: url(imagem.html/lula-petrobras.jpg.webp);
  background-size:cover;
   background-repeat: no-repeat;
}
h1{
    color: transparent;
}
fieldset{
    color: transparent;
}